*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix:after,
div:after,
header:after,
footer:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
b,
strong {
  font-weight: 500;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 40px;
}
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.btn {
  display: block;
  width: 165px;
  margin: 0 auto;
  padding: 12px 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #49a7e2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #49a7e2), color-stop(100%, #146ca5));
  background: -webkit-linear-gradient(top, #49a7e2 0%, #146ca5 100%);
  background: -o-linear-gradient(top, #49a7e2 0%, #146ca5 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#49a7e2), to(#146ca5));
  background: linear-gradient(to bottom, #49a7e2 0%, #146ca5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49a7e2', endColorstr='#146ca5', GradientType=0);
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #333;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  background: #146ca5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #146ca5), color-stop(100%, #49a7e2));
  background: -webkit-linear-gradient(top, #146ca5 0%, #49a7e2 100%);
  background: -o-linear-gradient(top, #146ca5 0%, #49a7e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#146ca5), to(#49a7e2));
  background: linear-gradient(to bottom, #146ca5 0%, #49a7e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#146ca5', endColorstr='#49a7e2', GradientType=0);
}
header.gl {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../../img/prod/header-bg.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
}
header.gl .container {
  position: absolute;
  top: 50%;
  text-align: center;
}
header.gl h1 {
  text-transform: uppercase;
  font-size: 65px;
  line-height: 1;
}
header.gl h3 {
  max-width: 500px;
  margin: 40px auto 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
}
.scroll-me {
  position: absolute;
  width: 31px;
  height: 54px;
  margin-left: -15.5px;
  left: 50%;
  bottom: 25px;
  background: url('../../img/prod/scroll-icon.png') no-repeat center center;
  cursor: pointer;
}
.functions {
  padding: 80px 0 160px;
}
.functions h2 {
  margin-bottom: 65px;
  line-height: 40px;
  text-transform: uppercase;
  color: #438eb5;
}
.functions .functions-list {
  border: 1px solid #95bfd5;
  opacity: 0;
  position: relative;
  bottom: -60px;
  -webkit-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.functions .functions-list.showed {
  opacity: 1;
  bottom: 0;
}
.functions .function-single {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  height: 100%;
  padding: 20px;
  border-right: 1px solid #95bfd5;
  border-bottom: 1px solid #95bfd5;
}
.functions .function-content h4 {
  margin: 0 0 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: left;
  text-transform: uppercase;
}
.functions .function-content p {
  margin: 0;
  font-size: 14px;
}
.about {
  height: 1087px;
  padding: 105px 0 0;
  position: relative;
  z-index: 2;
  color: #fff;
  background: url('../../img/prod/about-bg.png') no-repeat center center;
}
.about h2 {
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #333;
}
.about h3 {
  margin-top: 270px;
  text-align: center;
  font-size: 180px;
  line-height: 1;
}
.about h3 span {
  display: block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}
.advantages {
  height: 804px;
  padding: 160px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -80px;
  text-align: center;
  background: url('../../img/prod/advantages-bg.jpg') no-repeat center center;
}
.advantages h2 {
  margin: 0 0 15px;
  text-transform: uppercase;
}
.advantages h2,
.advantages .title-text {
  color: #464646;
}
.advantages .title-text {
  margin: 0;
  padding: 0 10%;
  font-size: 17px;
}
.advantages .advantages-list {
  margin-top: 100px;
}
.advantages .advantage-single {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  margin: 0 75px;
  position: relative;
  bottom: -60px;
  opacity: 0;
  -webkit-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.advantages .advantage-single p {
  margin: 15px 0 0;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #5f6f7b;
}
.advantages .advantage-single.shoved {
  bottom: 0;
  opacity: 1;
}
.advantages .advantage-img {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  padding: 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid #fff;
  background: #edeeed;
}
.advantages .advantage-img span {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #95bfd5;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.advantages .advantage-img.advantage-security span {
  background: url('../../img/prod/advantage-security.png') no-repeat center center #f7f8f7;
}
.advantages .advantage-img.advantage-support span {
  background: url('../../img/prod/advantage-support.png') no-repeat center center #f7f8f7;
}
.advantages .advantage-img.advantage-update span {
  background: url('../../img/prod/advantage-update.png') no-repeat center center #f7f8f7;
}
.reviews {
  min-height: 300px;
  padding: 150px 0;
  background: url('../../img/prod/reviews-bg.jpg') no-repeat center top #ffffff, url('../../img/prod/web-bg.png') no-repeat center bottom #ffffff;
}
.reviews h2 {
  margin: 0 0 65px;
  color: #464646;
  text-transform: uppercase;
  line-height: 1;
}
.reviews .review-single {
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding-left: 35px;
}
.reviews .review-single img {
  width: 105px;
  height: 105px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 5px solid #f4f4f4;
  cursor: pointer;
}
.reviews .review-single .review-active {
  border-color: #95bfd5;
}
.reviews .review-text {
  display: none;
}
.reviews .review-content {
  padding-left: 15px;
  padding-top: 15px;
}
.reviews .review-content strong {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}
.reviews .review-content p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #747474;
}
.reviews .review-top {
  background: url('../../img/prod/review-bg.png') no-repeat center center;
}
.reviews .review-top .review-top-img {
  width: 243px;
  height: 243px;
  margin-top: -1px;
  margin-left: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 5px solid #f4f4f4;
}
.reviews .review-top-title {
  display: block;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
.reviews .review-top-desc {
  margin: 15px 0 0 20px;
  font-size: 14px;
  color: #747474;
}
.reviews .review-top-text {
  position: relative;
  margin: 25px 0 0;
  padding: 15px 10px;
  border: 8px solid #f4f4f4;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  font-size: 14px;
  color: #747474;
  font-style: italic;
}
.reviews .review-top-text:before {
  content: '';
  position: absolute;
  top: -27px;
  right: 100px;
  width: 53px;
  height: 27px;
  background: url('../../img/prod/review-arrow.png') no-repeat center center;
}
footer.gl {
  padding: 60px 0 30px;
  background: #2e2e2e;
  color: #fff;
}
footer.gl h2 {
  margin: 0 0 15px;
  line-height: 1;
  text-transform: uppercase;
}
footer.gl .title-text {
  margin: 0;
  padding: 0 10%;
  text-align: center;
  font-size: 17px;
}
footer.gl form {
  margin: 45px auto;
}
footer.gl hr {
  border: none;
  height: 1px;
  background: #747474;
}
footer.gl small {
  display: block;
  margin-top: 25px;
  margin-left: 25px;
  width: 255px;
  color: #747474;
}
form {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
form input[type=text],
form input[type=email] {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: none;
  -webkit-box-shadow: inset 0px 0px 2px 2px rgba(200, 200, 200, 0.5);
          box-shadow: inset 0px 0px 2px 2px rgba(200, 200, 200, 0.5);
  font-size: 15px;
  line-height: 1;
  color: #747474;
}
form .btn {
  width: 100%;
  border: none;
  -webkit-box-shadow: 0 1px 1px #000;
          box-shadow: 0 1px 1px #000;
}
.popup-block {
  width: 400px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 25px 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
}
.popup-block .popup-title {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 15px;
  color: #333;
}
.popup-block h3 {
  font-size: 24px;
}
/* Adaptive */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .to-left,
  .to-right {
    float: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
  header.gl .container {
    width: 100%;
  }
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1030px;
  }
  .functions .function-single {
    width: 50%;
    height: 202px;
  }
  .functions .img-wrapper {
    width: 90px;
    height: 100%;
  }
  .functions .function-content {
    width: 368px;
  }
  .functions .function-single:nth-child(2n) {
    border-right: 0;
  }
  .functions .function-single:nth-last-child(1),
  .functions .function-single:nth-last-child(2) {
    border-bottom: 0;
  }
  .reviews {
    overflow-x: hidden;
  }
  .reviews .reviews-list {
    width: 720px;
  }
  .reviews .review-top {
    width: 320px;
    height: 325px;
    margin-right: -65px;
  }
  .reviews .review-single {
    width: 360px;
  }
  .reviews .review-content {
    width: 215px;
  }
}
