*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
header:after,
footer:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
b, strong {
  font-weight: 500;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 40px;
}
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.btn {
  display: block;
  width: 165px;
  margin: 0 auto;
  padding: 12px 0;
  border-radius: 3px;
  background: #49a7e2;
  background: -moz-linear-gradient(top,  #49a7e2 0%, #146ca5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49a7e2), color-stop(100%,#146ca5));
  background: -webkit-linear-gradient(top,  #49a7e2 0%,#146ca5 100%);
  background: -o-linear-gradient(top,  #49a7e2 0%,#146ca5 100%);
  background: -ms-linear-gradient(top,  #49a7e2 0%,#146ca5 100%);
  background: linear-gradient(to bottom,  #49a7e2 0%,#146ca5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a7e2', endColorstr='#146ca5',GradientType=0 );
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #333;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  background: #146ca5;
  background: -moz-linear-gradient(top,  #146ca5 0%, #49a7e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#146ca5), color-stop(100%,#49a7e2));
  background: -webkit-linear-gradient(top,  #146ca5 0%,#49a7e2 100%);
  background: -o-linear-gradient(top,  #146ca5 0%,#49a7e2 100%);
  background: -ms-linear-gradient(top,  #146ca5 0%,#49a7e2 100%);
  background: linear-gradient(to bottom,  #146ca5 0%,#49a7e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#146ca5', endColorstr='#49a7e2',GradientType=0 );
}
header.gl {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../../img/prod/header-bg.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  
  .container {
    position: absolute;
    top: 50%;
    text-align: center;
  }
  h1 {
    text-transform: uppercase;
    font-size: 65px;
    line-height: 1;
  }
  h3 {
    max-width: 500px;
    margin: 40px auto 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
  }
}
.scroll-me {
  position: absolute;
  width: 31px;
  height: 54px;
  margin-left: -15.5px;
  left: 50%;
  bottom: 25px;
  background: url('../../img/prod/scroll-icon.png') no-repeat center center;
  cursor: pointer;
}
.functions {
  padding: 80px 0 160px;

  h2 {
    margin-bottom: 65px;
    line-height: 40px;
    text-transform: uppercase;
    color: #438eb5;
  }
  .functions-list {
    border: 1px solid #95bfd5;

    opacity: 0;
    position: relative;
    bottom: -60px;
    transition: all 1s ease;

    &.showed {
      opacity: 1;
      bottom: 0;
    }
  }
  .function-single {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    height: 100%;
    padding: 20px;
    border-right: 1px solid #95bfd5;
    border-bottom: 1px solid #95bfd5;
  }
  .function-content {
    h4 {
      margin: 0 0 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 22px;
      text-align: left;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
.about {
  height: 1087px;
  padding: 105px 0 0;
  position: relative;
  z-index: 2;
  color: #fff;
  background: url('../../img/prod/about-bg.png') no-repeat center center;

  h2 {
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #333;
  }
  h3 {
    margin-top: 270px;
    text-align: center;
    font-size: 180px;
    line-height: 1;

    span {
      display: block;
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
    }
  }
}
.advantages {
  height: 804px;
  padding: 160px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -80px;
  text-align: center;
  background: url('../../img/prod/advantages-bg.jpg') no-repeat center center;

  h2 {
    margin: 0 0 15px;
    text-transform: uppercase;
  }
  h2, .title-text {
    color: #464646;
  }
  .title-text {
    margin: 0;
    padding: 0 10%;
    font-size: 17px;
  }
  .advantages-list {
    margin-top: 100px;
  }
  .advantage-single {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin: 0 75px;

    position: relative;
    bottom: -60px;
    opacity: 0;
    transition: all 1s ease;

    p {
      margin: 15px 0 0;
      font-size: 22px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #5f6f7b;
    }
    &.shoved {
      bottom: 0;
      opacity: 1;
    }
  }
  .advantage-img {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    padding: 3px;
    border-radius: 50%;
    border: 3px solid #fff;
    background: #edeeed;

    span {
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid #95bfd5;
      border-radius: 50%;
    }
    &.advantage-security span {
      background: url('../../img/prod/advantage-security.png') no-repeat center center #f7f8f7;
    }
    &.advantage-support span {
      background: url('../../img/prod/advantage-support.png') no-repeat center center #f7f8f7;
    }
    &.advantage-update span {
      background: url('../../img/prod/advantage-update.png') no-repeat center center #f7f8f7;
    }
  }
}
.reviews {
  min-height: 300px;
  padding: 150px 0;
  background: url('../../img/prod/reviews-bg.jpg') no-repeat center top #fff,
  url('../../img/prod/web-bg.png') no-repeat center bottom #fff;

  h2 {
    margin: 0 0 65px;
    color: #464646;
    text-transform: uppercase;
    line-height: 1;
  }
  .review-single {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    padding-left: 35px;

    img {
      width: 105px;
      height: 105px;
      border-radius: 50%;
      border: 5px solid #f4f4f4;
      cursor: pointer;
    }
    .review-active {
      border-color: #95bfd5;
    }
  }
  .review-text {
    display: none;
  }
  .review-content {
    padding-left: 15px;
    padding-top: 15px;

    strong {
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      cursor: pointer;
    }
    p {
      margin: 10px 0 0;
      font-size: 14px;
      color: #747474;
    }
  }
  .review-top {
    background: url('../../img/prod/review-bg.png') no-repeat center center;

    .review-top-img {
      width: 243px;
      height: 243px;
      margin-top: -1px;
      margin-left: 15px;
      border-radius: 50%;
      border: 5px solid #f4f4f4;
    }
  }
  .review-top-title {
    display: block;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
  }
  .review-top-desc {
    margin: 15px 0 0 20px;
    font-size: 14px;
    color: #747474;
  }
  .review-top-text {
    position: relative;
    margin: 25px 0 0;
    padding: 15px 10px;
    border: 8px solid #f4f4f4;
    border-radius: 15px;
    font-size: 14px;
    color: #747474;
    font-style: italic;

    &:before {
      content: '';
      position: absolute;
      top: -27px;
      right: 100px;
      width: 53px;
      height: 27px;
      background: url('../../img/prod/review-arrow.png') no-repeat center center;
    }
  }
}
footer.gl {
  padding: 60px 0 30px;
  background: #2e2e2e;
  color: #fff;

  h2 {
    margin: 0 0 15px;
    line-height: 1;
    text-transform: uppercase;
  }
  .title-text {
    margin: 0;
    padding: 0 10%;
    text-align: center;
    font-size: 17px;
  }
  form {
    margin: 45px auto;
  }
  hr {
    border: none;
    height: 1px;
    background: #747474;
  }
  small {
    display: block;
    margin-top: 25px;
    margin-left: 25px;
    width: 255px;
    color: #747474;
  }
}
form {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  input[type=text],
  input[type=email] {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    border: none;
    box-shadow: inset 0px 0px 2px 2px rgba(200,200,200,.5);
    font-size: 15px;
    line-height: 1;
    color: #747474;

  }
  .btn {
    width: 100%;
    border: none;
    box-shadow: 0 1px 1px #000;
  }
}
.popup-block {
  width: 400px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 25px 15px;
  border-radius: 5px;
  background: #fff;

  .popup-title {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 15px;
    color: #333;
  }
  h3 {
    font-size: 24px;
  }
}

/* Adaptive */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .to-left,
  .to-right {
    float: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
  header.gl {

    .container {
      width: 100%;
    }
  }
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1030px;
  }
  .functions {
    
    .function-single {
      width: 50%;
      height: 202px;
    }
    .img-wrapper {
      width: 90px;
      height: 100%;
    }
    .function-content {
      width: 368px;
    }
    .function-single:nth-child(2n) {
      border-right: 0;
    }
    .function-single:nth-last-child(1),
    .function-single:nth-last-child(2) {
      border-bottom: 0;
    }
  }
  .reviews {
    overflow-x: hidden;

    .reviews-list {
      width: 720px;
    }
    .review-top {
      width: 320px;
      height: 325px;
      margin-right: -65px;
    }
    .review-single {
      width: 360px;
    }
    .review-content {
      width: 215px;
    }
  }
}
