/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix:after,
div:after,
header:after,
footer:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
b,
strong {
  font-weight: 500;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 40px;
}
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.btn {
  display: block;
  width: 165px;
  margin: 0 auto;
  padding: 12px 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #49a7e2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #49a7e2), color-stop(100%, #146ca5));
  background: -webkit-linear-gradient(top, #49a7e2 0%, #146ca5 100%);
  background: -o-linear-gradient(top, #49a7e2 0%, #146ca5 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#49a7e2), to(#146ca5));
  background: linear-gradient(to bottom, #49a7e2 0%, #146ca5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49a7e2', endColorstr='#146ca5', GradientType=0);
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #333;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  background: #146ca5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #146ca5), color-stop(100%, #49a7e2));
  background: -webkit-linear-gradient(top, #146ca5 0%, #49a7e2 100%);
  background: -o-linear-gradient(top, #146ca5 0%, #49a7e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#146ca5), to(#49a7e2));
  background: linear-gradient(to bottom, #146ca5 0%, #49a7e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#146ca5', endColorstr='#49a7e2', GradientType=0);
}
header.gl {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../../img/prod/header-bg.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
}
header.gl .container {
  position: absolute;
  top: 50%;
  text-align: center;
}
header.gl h1 {
  text-transform: uppercase;
  font-size: 65px;
  line-height: 1;
}
header.gl h3 {
  max-width: 500px;
  margin: 40px auto 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
}
.scroll-me {
  position: absolute;
  width: 31px;
  height: 54px;
  margin-left: -15.5px;
  left: 50%;
  bottom: 25px;
  background: url('../../img/prod/scroll-icon.png') no-repeat center center;
  cursor: pointer;
}
.functions {
  padding: 80px 0 160px;
}
.functions h2 {
  margin-bottom: 65px;
  line-height: 40px;
  text-transform: uppercase;
  color: #438eb5;
}
.functions .functions-list {
  border: 1px solid #95bfd5;
  opacity: 0;
  position: relative;
  bottom: -60px;
  -webkit-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.functions .functions-list.showed {
  opacity: 1;
  bottom: 0;
}
.functions .function-single {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  height: 100%;
  padding: 20px;
  border-right: 1px solid #95bfd5;
  border-bottom: 1px solid #95bfd5;
}
.functions .function-content h4 {
  margin: 0 0 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: left;
  text-transform: uppercase;
}
.functions .function-content p {
  margin: 0;
  font-size: 14px;
}
.about {
  height: 1087px;
  padding: 105px 0 0;
  position: relative;
  z-index: 2;
  color: #fff;
  background: url('../../img/prod/about-bg.png') no-repeat center center;
}
.about h2 {
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #333;
}
.about h3 {
  margin-top: 270px;
  text-align: center;
  font-size: 180px;
  line-height: 1;
}
.about h3 span {
  display: block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}
.advantages {
  height: 804px;
  padding: 160px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -80px;
  text-align: center;
  background: url('../../img/prod/advantages-bg.jpg') no-repeat center center;
}
.advantages h2 {
  margin: 0 0 15px;
  text-transform: uppercase;
}
.advantages h2,
.advantages .title-text {
  color: #464646;
}
.advantages .title-text {
  margin: 0;
  padding: 0 10%;
  font-size: 17px;
}
.advantages .advantages-list {
  margin-top: 100px;
}
.advantages .advantage-single {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  margin: 0 75px;
  position: relative;
  bottom: -60px;
  opacity: 0;
  -webkit-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.advantages .advantage-single p {
  margin: 15px 0 0;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #5f6f7b;
}
.advantages .advantage-single.shoved {
  bottom: 0;
  opacity: 1;
}
.advantages .advantage-img {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  padding: 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid #fff;
  background: #edeeed;
}
.advantages .advantage-img span {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #95bfd5;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.advantages .advantage-img.advantage-security span {
  background: url('../../img/prod/advantage-security.png') no-repeat center center #f7f8f7;
}
.advantages .advantage-img.advantage-support span {
  background: url('../../img/prod/advantage-support.png') no-repeat center center #f7f8f7;
}
.advantages .advantage-img.advantage-update span {
  background: url('../../img/prod/advantage-update.png') no-repeat center center #f7f8f7;
}
.reviews {
  min-height: 300px;
  padding: 150px 0;
  background: url('../../img/prod/reviews-bg.jpg') no-repeat center top #ffffff, url('../../img/prod/web-bg.png') no-repeat center bottom #ffffff;
}
.reviews h2 {
  margin: 0 0 65px;
  color: #464646;
  text-transform: uppercase;
  line-height: 1;
}
.reviews .review-single {
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding-left: 35px;
}
.reviews .review-single img {
  width: 105px;
  height: 105px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 5px solid #f4f4f4;
  cursor: pointer;
}
.reviews .review-single .review-active {
  border-color: #95bfd5;
}
.reviews .review-text {
  display: none;
}
.reviews .review-content {
  padding-left: 15px;
  padding-top: 15px;
}
.reviews .review-content strong {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}
.reviews .review-content p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #747474;
}
.reviews .review-top {
  background: url('../../img/prod/review-bg.png') no-repeat center center;
}
.reviews .review-top .review-top-img {
  width: 243px;
  height: 243px;
  margin-top: -1px;
  margin-left: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 5px solid #f4f4f4;
}
.reviews .review-top-title {
  display: block;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
.reviews .review-top-desc {
  margin: 15px 0 0 20px;
  font-size: 14px;
  color: #747474;
}
.reviews .review-top-text {
  position: relative;
  margin: 25px 0 0;
  padding: 15px 10px;
  border: 8px solid #f4f4f4;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  font-size: 14px;
  color: #747474;
  font-style: italic;
}
.reviews .review-top-text:before {
  content: '';
  position: absolute;
  top: -27px;
  right: 100px;
  width: 53px;
  height: 27px;
  background: url('../../img/prod/review-arrow.png') no-repeat center center;
}
footer.gl {
  padding: 60px 0 30px;
  background: #2e2e2e;
  color: #fff;
}
footer.gl h2 {
  margin: 0 0 15px;
  line-height: 1;
  text-transform: uppercase;
}
footer.gl .title-text {
  margin: 0;
  padding: 0 10%;
  text-align: center;
  font-size: 17px;
}
footer.gl form {
  margin: 45px auto;
}
footer.gl hr {
  border: none;
  height: 1px;
  background: #747474;
}
footer.gl small {
  display: block;
  margin-top: 25px;
  margin-left: 25px;
  width: 255px;
  color: #747474;
}
form {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
form input[type=text],
form input[type=email] {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: none;
  -webkit-box-shadow: inset 0px 0px 2px 2px rgba(200, 200, 200, 0.5);
          box-shadow: inset 0px 0px 2px 2px rgba(200, 200, 200, 0.5);
  font-size: 15px;
  line-height: 1;
  color: #747474;
}
form .btn {
  width: 100%;
  border: none;
  -webkit-box-shadow: 0 1px 1px #000;
          box-shadow: 0 1px 1px #000;
}
.popup-block {
  width: 400px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 25px 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
}
.popup-block .popup-title {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 15px;
  color: #333;
}
.popup-block h3 {
  font-size: 24px;
}
/* Adaptive */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .to-left,
  .to-right {
    float: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
  header.gl .container {
    width: 100%;
  }
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1030px;
  }
  .functions .function-single {
    width: 50%;
    height: 202px;
  }
  .functions .img-wrapper {
    width: 90px;
    height: 100%;
  }
  .functions .function-content {
    width: 368px;
  }
  .functions .function-single:nth-child(2n) {
    border-right: 0;
  }
  .functions .function-single:nth-last-child(1),
  .functions .function-single:nth-last-child(2) {
    border-bottom: 0;
  }
  .reviews {
    overflow-x: hidden;
  }
  .reviews .reviews-list {
    width: 720px;
  }
  .reviews .review-top {
    width: 320px;
    height: 325px;
    margin-right: -65px;
  }
  .reviews .review-single {
    width: 360px;
  }
  .reviews .review-content {
    width: 215px;
  }
}
